<html>
   <head>
        <title>Create Task</title>	
   </head>
   <body>
       <h1 align="center">Edit Task</h1>
       <form method="post" action="/update/{{d.0}}">
           <table border="1" align="center">
                 <tr>
                     <td>Title:</td>
                     <td><input type="text" name="t" value="{{d.1}}" /></td>
                 <tr>
                 <tr>
                    <td>Details:</td>
                    <td><input type="text" name="det"  value="{{d.2}}"/></td>
                <tr>
                <tr>
                    <td>Date:</td>
                    <td><input type="date" name="dt" value="{{d.3}}" /></td>
                <tr> 
                <tr>
                    
                    <td><input type="submit" name="send" value="Update Task" /></td>
                <tr>          
           </table>
       </form>

   </body>

</html>