<html>
   <head>
        <title>Create Task</title>	
   </head>
   <body>
       <h1 align="center">Create Task</h1>
       <form method="post" action="/store">
           <table border="1" align="center">
                 <tr>
                     <td>Title:</td>
                     <td><input type="text" name="t" /></td>
                 <tr>
                 <tr>
                    <td>Details:</td>
                    <td><input type="text" name="det" /></td>
                <tr>
                <tr>
                    <td>Date:</td>
                    <td><input type="date" name="dt" /></td>
                <tr> 
                <tr>
                    
                    <td><input type="submit" name="send" value="create Task" /></td>
                <tr>          
           </table>
       </form>

   </body>

</html>